<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" type="image/png" href="images/Dioma.jpg">
    <link rel="stylesheet" href="/styles/stylesheet.css">
</head>
<body>

    <div>
        <form action="/return-contact" method="post">
            <fieldset>
                <legend> DATA CONFIRMED </legend>
            </fieldset>
            <button class="submit-forum" type="submit">Submit Another</button>
            </button>
        </form>
    </div>
    
</body>
</html>